html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: text-top;
}

html, body {
	height: 100%;
	font-family: sans-serif;
}

#console {
	position: absolute;
	border: 2px solid #CCC;
	top: 0px;
	left: 10px;
	bottom: 50px;
	right: 10px;
	overflow-y: scroll;
}

#prompt {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

#tty {
	position: relative;
	left: 0px;
	width: 80%;
	border: 1px solid #CCC;
	padding: 5px;
	font-size: 1.2em;
	font-family: monospace;
}

#input {
	border: 1px solid red;
	padding-right: 10px;
}

#console {
	font-family: monospace;
}

div.cmd {
	padding-top: 20px;
	border-bottom: 1px dashed #CCC;
}
ul.fields {
	padding-left: 20px;
	list-style: none;
}
.time { color: #CCC; }
span.type {
	margin-right: 5px;
	max-width: 50%;
	color: darkblue;
	display: inline-block;
}
span.type:hover {
	background: #EEE;
}
span.type a { text-decoration: underline; font-weight: bold; cursor: pointer; }
span.type a:hover { text-decoration: none;}
.name, .eq {
	padding-right: 5px;
}
.name { color: purple; }
.toggle {
	cursor: pointer;
	color: blue;
	display: inline-block;
	width: 20px;
	text-align: center;
}
.toggle:hover {
	background: #CCC;
}
.addr {
	color: #CCC;
	float: right;
	margin-right: 10px;
}
.addr:before {
	content: "@";
}
span.name a {
	text-decoration: underline;
	color: purple;
}
span.name a:hover {
	text-decoration: none;
}
table { border: 0; }
span.error {
	color: red;
}
span.val {
	color: green;
	display: inline-block;
	max-width: 50%;
}
span.val:hover {
	background: #EEE;
}
ol#history {
	list-style-type: decimal
}
.loading {
	padding-left: 30px;
	background: url(/static/spinner.gif) no-repeat left bottom;
}

.toolbar {
	visibility: hidden;
	padding: 2px;
}
div.value:hover > .toolbar {
	visibility: visible;
}

.reloadbutton {
	cursor: pointer;
}
